openslide-python==1.3.1
scikit-image==0.22.0
scikit-learn==1.3.2
scipy==1.11.4
opencv-python==4.8.1.78
pandas==2.1.3
tqdm
itk==5.4.0
matplotlib==3.8.2
mahotas@ git+https://github.com/luispedro/mahotas.git@f7edeb22a4b47e6c5200c008a8e7386067d72443
pandas==2.1.3
jupyterlab==4.0.9
zarr==2.16.1
tifffile==2023.9.26
h5py==3.10.0
segmentation-models-pytorch==0.1.0
networkx==2.8.7
libpysal==4.9.2
Pillow==9.3.0
shapely==2.0.2
staintools==2.1.2
albumentations==1.3.1
spams-bin==2.6.8
toml==0.10.2
numcodecs==0.12.1
imagecodecs==2023.9.18
timm==0.9.6
geojson==3.1.0
pylibCZIrw==4.1.3
